.film {

  .film-body {
    font-size: 18px;

    .tag {
      span {
        font-weight: 600;
      }
    }

    .rating-system {
      padding: 15px 0;

      button {
        background: none;
        border: 1px solid $gray-200;
        box-shadow: none;
        cursor: pointer;
      }
    }
  }
}