.film-list-container {

  .film-header {
    font-size: 32px;
    color: $black;
    padding: 30px 0;
  }

  .film-container-list {
    padding: 0;
    list-style: none;

    .film-list-item {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid $gray-200;

      .imageContainer{
        max-height: 170px;
        overflow: hidden;

        img {
          max-width: 100%;
        }
      }

      .tag {
        display: inline-block;

        &:after {
          content: '|';
          padding-left: 10px;
          padding-right: 10px;
        }

        &:last-child:after {
          content: none;
        }

        span {
          font-weight: 700;
          color: $gray-700;
        }
      }
    }
  }
}