.navbar {
  background-color: $orange;
  border-bottom: 1px solid $gray-200;
  margin-bottom: 30px;

  .navbar-header {
    .brand {
      color: $white;
    }
  }

  .navbar-right {
    padding-top: 20px;
    color: $white;
    font-size: 14px;
    text-align: right;

    li {
      padding: 10px 0;
    }

    li + li {
      padding-top: 0;
    }

    a {
      display: inline-block;
      color: $white;
      text-align: right;
    }

    h5 {
      margin: 0;
      line-height: 0;
      font-weight: normal;
    }
  }
}